@import '@/styles/variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    margin: 3rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    border-radius: 1rem;
    background: $background-light;
  }

  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5rem;

    .header {
      color: $color-dark;
      font-size: 4rem;
      line-height: 1;
      font-weight: 900;
    }

    .body {
      display: flex;
      align-items: center;
      gap: 3rem;

      .image {
        flex: 1 1 0;
        width: 0;
        border-radius: 1rem;
      }
    }
  }
}
