@import '@/styles/variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .header {
      color: $color-light;
      font-size: 6rem;
    }

    .body {
      display: flex;
      align-items: flex-start;
      gap: 3rem;

      .image {
        flex: 1 1 0;
        width: 0;
      }
    }
  }
}
