@import '@/styles/variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10.3rem 0;

  .wrapper {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 90rem;
    max-width: 90%;

    .slider_wrapper {
      width: 60rem;
      max-width: 90%;
      overflow: hidden;

      .slider {
        padding: 3rem;
        background: $background-light;
        border-radius: 1rem;

        .image {
          border-radius: 1rem;
        }
      }
    }
  }
}
