@import '@/styles/variables.scss';

.header {
  // TODO: check
  // height: 5.3rem;
  z-index: 99;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;

  video {
    width: inherit;
  }
}

.header,
.main,
.footer {
  // background: $background-primary;
}

.sidenav_modal {
  background: $background-light;
}
