@import '@/styles/variables.scss';

.section {
  min-height: 100vh;
  background: #000;
  position: relative;
  z-index: 1;

  .section_title_wrapper {
    padding: 1rem 0;
    position: sticky;
    top: 0;

    .section_title {
      writing-mode: vertical-lr;
      color: $color-light;
      user-select: none;
    }
  }
}
