@import '@/styles/variables.scss';

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
  position: relative;
  z-index: 1;
  padding: 7.3rem 0;
  gap: 3rem;
}
