.section {
  // TODO: check
  // min-height: calc(100vh - 5.3rem);
  min-height: 100vh;

  .container {
    max-width: 90%;
    position: relative;

    .hero_content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .title_wrapper {
        .title {
          font-size: 7rem;
          font-weight: 900;
          line-height: 1;
          margin-bottom: 1rem;

          @media (max-width: 768px) {
            font-size: 4rem;
          }

          @media (max-width: 480px) {
            font-size: 3rem;
          }
        }

        .subtitle {
          font-size: 1.6rem;
          color: #656565;
          font-weight: 700;
        }
      }

      .socials {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
        width: 50%;
        font-size: 3rem;
      }
    }
  }
}
