@import '@/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    padding: 1.7rem 2.5rem;
    font-size: 1.6rem;

    svg {
      margin-left: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .nav {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li {
        a {
          font-size: 3rem;
          font-weight: 700;
          border-bottom: 3px solid transparent;
          transition: border 0.2s ease-in;

          &:hover {
            border-bottom: 3px solid $color-dark;
            cursor: pointer;
          }
        }
      }
    }
  }
}
