@import '@/styles/variables.scss';

.container {
  color: $color-dark;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.6rem;
  width: 100%;

  .title {
    color: $color-light;
    font-size: 4rem;
    line-height: 1;
    font-weight: 900;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  .description {
    color: $color-light;

    a {
      text-decoration: underline;
      color: $color-light;
    }
  }

  .features {
    color: $color-light;

    ul {
      padding: 1rem;
      li {
        color: $color-light;
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: capitalize;
      }
    }
  }

  .footer {
    padding-top: 3rem;
    display: flex;
    border-top: 1px solid $color-light;
    gap: 3rem;
    justify-content: center;
    width: 100%;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 2rem;
    }

    .button {
      display: flex;
      border-radius: 1rem;
      gap: 1rem;
      font-weight: 700;
      padding: 1rem 2rem;
      color: $color-dark;
      background: $background-light;
      align-items: center;
      justify-content: center;

      @media (max-width: 480px) {
        width: 90%;
        margin: 0 auto;
      }
    }

    .disabled {
      background: #848484;
      color: #454545;
      user-select: none;
    }
  }
}
