@import './variables.scss';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-f-primary;
  font-weight: 400;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.5;
  background: $background-light;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.main-container {
  width: 125rem;
  max-width: 90%;
  margin: 0 auto;
}

.swiper-pagination-bullet-active {
  background: $background-dark !important;
}
