@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

$font-f-primary: 'Inter', sans-serif;

$color-dark: #000;
$color-light: #fff;

$background-light: #f2f2f2;
$background-dark: #000;
