@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

$font-f-primary: 'Inter', sans-serif;

$color-primary: #000;
$color-secondary: #fff;

$background-primary: #fff;
$background-secondary: #000;
